:root {
    --fundo-principal: linear-gradient(135deg, #001f3f, #011020);
    --secoes-importantes: #003F88;
    --botoes-interatividade: #00B8D9;
    --nav-fundo: #E1EAF2;
    --texto-principal: #000000;
    --cards-e-texto: #ebc9a5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #F1F5F9;
    color: #333;
    height: 100%;
}

header {
    background: var(--fundo-principal);
    color: var(--cards-e-texto);
    padding: 10px 0;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

header h1 {
    margin-left: 15px;
    overflow: hidden;
}

header i {
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s;
}

header i:hover {
    color: var(--botoes-interatividade);
}

#input-search {
    width: 200px;
    padding: 8px 12px;
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease;
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
}

#input-search.hidden {
    width: 0;
    padding: 0;
    border: none;
    opacity: 0;
    transform: scaleX(0);
    pointer-events: none;
}

#input-search:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#btn-search {
    cursor: pointer;
    transition: color 0.3s ease;
}

#btn-search:hover {
    color: #007bff;
}

#iconButtom {
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
}

#cart-ui {
    position: relative;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--botoes-interatividade);
    color: white;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 12px;
}

.navbar {
    display: flex;
    justify-content: center;
    background: var(--nav-fundo);
}

.navbar a {
    color: var(--texto-principal);
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 5px;
}

.navbar a:hover {
    background: var(--fundo-principal);
    color: var(--cards-e-texto);
    border-radius: 0 0 30px 30px;
    transition: 0.7s;
}

ul {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero {
    position: relative;
    background: var(--fundo-principal);
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

.hero svg {
    position: absolute;
    bottom: -3px;
    margin-top: -100px;
    left: 0;
    width: 100%;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
    width: 50%;
    padding: 0;
    position: relative;
    z-index: 2;
    margin: 5rem;
}

.hero-content p {
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    color: var(--cards-e-texto);
    font-family: 'Arial Black', sans-serif;
}

.hero-content small {
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: #E5E7EB;
}

.hero-content button {
    font-size: 1.5rem;
    border: 2px solid #9b7a10;
}

#call a {
    color: #001f3f;
    font-weight: 700;
}

#call a:hover {
    color: bisque;
}

.hero-img img {
    position: absolute;
    display: block;
    background: transparent;
    top: 2px;
    right: 2%;
    width: 200px;
    overflow: hidden;
    max-width: 250px;
    filter: drop-shadow(0 25px rgba(0, 0, 0, 0.25));
    transition: transform 0.4s ease;
    background: none;
    z-index: 2;
    transform: perspective(800px) rotateY(-12deg) rotateX(5deg);

}

.hero img:hover {
    transform: perspective(800px) rotateY(-6deg) rotateX(3deg) scale(1.03);
    transition: 0.4s ease;
}

.category-nav {
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #001f3f;
}

.category-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-nav li {
    margin: 0 15px;
}

.category-nav a {
    color: var(--cor-texto-principal);
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 5px;
}

.category-nav a:hover {
    background: var(--texto-principal);
    color: var(--cards-e-texto);
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.service {
    background: #ffffff;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    border: 1px solid bisque;
    text-align: center;
    justify-items: center;
    text-size-adjust: 100%;
    max-width: 200px;
    flex: 1 1 calc(25% - 40px);
}

.best-sellers {
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 30px;
    margin-bottom: 30px;
    gap: 5px;
    max-height: max-content;
    max-width: 90%;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    background: #011020;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-height: max-content;
}

.banner img {
    width: 200px;
    filter: drop-shadow(0 25px rgba(0, 0, 0, 0.25));
    transition: transform 0.4s ease;
    background: none;
    display: block;
    overflow: hidden;
    z-index: 2;
}

.banner h2 p {
    margin-left: 50px;
    color: var(--cor-texto-principal);
    text-align: left;
}

.banner img {
    transform: perspective(800px) rotateY(-12deg) rotateX(5deg);
}

.banner img:hover {
    transform: perspective(800px) rotateY(-6deg) rotateX(3deg) scale(1.03);
    transition: 0.4s ease;
}

.banner-content {
    margin-right: 50px;
    color: var(--cards-e-texto);
    text-align: left;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    max-width: 90%;
    overflow: hidden;
    padding: 0;
}

#cards h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 10px;
    margin: 10px 15px;
    border: 1px solid #EBC9A5;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    text-align: center;
    width: 200px;
    transition: 0.3s ease;
    font-size: smaller;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.8);
}

.card img {
    max-width: 100px;
    height: 100px;
    margin: auto;
}

.card h3 {
    margin-bottom: 5px;
    font-size: 16px;
}

.card p {
    font-size: 14px;
    margin-bottom: 10px;
    flex: 1 1 calc(100% - 10px);
    overflow: hidden;
}

.card span {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
}

.card button {
    background: var(--cards-e-texto);
    color: var(--fundo-principal);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px auto 0 auto;

}

#moreProducts {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#reviews {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    margin-bottom: 30px;
    max-width: 80%;
}

#reviews h2 {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#reviews .review {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
}

.review {
    background: var(--nav-fundo);
    border-radius: 10px;
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid #EBC9A5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    text-align: center;
    font-size: 16px;
    max-width: max-content;
    flex: 1 1 calc(33% - 40px);
    gap: 10px;
}

#reviews .review p {
    font-style: italic;
    margin-bottom: 10px;
}

#reviews .review strong {
    color: var(--fundo-principal);
}

footer {
    display: flex;
    align-items: baseline;
    background: var(--fundo-principal);
    color: var(--cards-e-texto);
    text-align: center;
    padding: 40px;
    position: relative;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.info-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    padding: 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 80%;
    margin: 20px;
    padding: 0;
}

h4 {
    font-size: larger;
    margin-bottom: 0;
    color: #e1eaf2;
}

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
    gap: 10px;
    flex: 1 1 calc(33% - 40px);
    max-width: 100%;
}

#newsletter input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
    background: #ab978354;
}

#newsletter input::placeholder {
    color: #999;
    opacity: 1; 
}

#newsletter button {
    padding: 10px;
    border: 1px solid var(--cor-texto-secundaria);
    border-radius: 5px;
    background: var(--cards-e-texto);
    color: var(--secoes-importantes);
    cursor: pointer;
    margin-top: 0;
}

#newsletter button:hover {
    background: #9b7a10;
    color: var(--nav-fundo);
    border: 1px solid #ebc9a5;
    transition: 0.3s;
}

footer a {
    color: var(--cards-e-texto);
    margin: 0 10px;
    text-decoration: none;
    text-align: left;
}

footer a:hover {
    text-decoration: underline;
    color: var(--nav-fundo);
}

.fa-brands {
    margin: 10px 10px;
    cursor: pointer;
    font-size: 24px;
}

.fa-solid, .fas, .fa-regular {
    font-weight: 900;
    color: #ebc9a5;
}

.fa-brands:hover, .fa-regular:hover {
    color: var(--cards-e-texto);
    transition: 0.3s;
    transform: translateY(-5px);
    box-shadow: 0 7px 35px #ffffff;
}

footer p {
    position: absolute;
    margin: 5px 0;
    left: 20px;
    bottom: 10px;
    font-size: 14px;
}

button {
    background: var(--cards-e-texto);
    color: var(--fundo-principal);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background: var(--fundo-principal);
    color: var(--cards-e-texto);
    transition: 0.3s;
}

a {
    text-decoration: none;
}

/* <!-- AJUSTAR RESPONSIVIDADE -->
A IMAGEM DO HERO TEM QUE DIMINUIR O TAMANHO E O HERO-CONTENT TEM QUE SER AJUSTADOS PARA ESQUERDA EM TELAS MENORES QUE 760PX COM FELX
O category-nav TEM QUE ADICIONAR ROLAGEM PARA TELAS MENORES QUE 922PX
FOOTER SO ESTA BEM ACIMA DE 1180PX */