:root {
    --cor-principal: linear-gradient(180deg, #49f8a6, #42c2b6);
    --cor-texto-principal: #000000;
    --cor-texto-secundaria: #ffffff;
    --cor-bordas-card: linear-gradient(180deg, #69a8d1, #42c2b6);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #c7c9c9;
    margin: 0;
    padding: 0;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.2));
}

.formulario {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 80%;
    max-width: 900px;
    height: 400px;
    padding: 0;
    backdrop-filter: blur(3px);
    position: relative;
    overflow: hidden;
}


.form-signin,
.form-signup {
    display: flex;
    justify-items: center;
    width: 100%;
    position: absolute;
    padding: 0;
    margin-bottom: 0;
    inset: 0;
    justify-content: center;
    transition:
        transform 0.7s ease,
        opacity 1.5s ease;

}

/* ESTADO INICIAL */
.form-signin {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}
.form-signup {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}
/* ESTADO ALTERNADO (classe no pai) */
.formulario.form-toggle .form-signin {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}
.formulario.form-toggle .form-signup {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

.form-login,
.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 50%;
}

.form-login input,
.form-register input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-bottom: 3px solid rgba(26, 214, 205, 0.514);
    border-radius: 10px;
    font-size: 16px;
    background:rgb(207, 204, 204);
    
}

input::placeholder {
    font-weight: bolder;
}

.form-login button,
.form-register button {
    width: 50%;
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    background: var(--cor-bordas-card);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.5s;
}

.form-login button:hover,
.form-register button:hover {
    background: var(--cor-principal);
}

#mesage-welcome,
#message-welcome {
    background: var(--cor-bordas-card);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    border-radius: 10px;

}

.form-footer {
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 14px;
    color: #635f5f;
    font-size: medium;

}

a {
    color: #07325e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #42c2b6;
}


/* AJUSTAR RESPONSIVIDADE A MENOS DE 490PX */